
params {
    dremio {
        hostname = '10.254.120.91'
        port = 32010
        scheme = 'grpc+tcp'
        space = 'OCRA.archive'
        table = 'matched_QC_case_breakdown'
    }
}

aws {
    accessKey = secrets.LARGE_ACCESS_KEY
    secretKey = secrets.LARGE_SECRET_KEY
    client {
        endpoint = "https://pllimsksparky3:9006"
        s3PathStyleAccess = true
    }
}

azure {
    storage {
        accountName = "nextflowtest"
        accountKey = secrets.AZURE_STORAGE_KEY
    }
    batch {
        location = 'eastus2'
        accountName = 'ocra'
        accountKey = secrets.AZURE_BATCH_KEY
        autoPoolMode = true
        allowPoolCreation = true
        deletePoolsOnCompletion = true
        pools {
            auto {
                autoScale = true
                vmType = 'Standard_NC6s_v3'
                vmCount = 5
                maxVmCount = 10
            }
        }
    }
}

apptainer.runOptions = "--nv"

profiles {
    standard {
        process.executor = 'local'

        withLabel: parallelTask {
            cpus = 16
        }
    }

    conda {
        conda.enabled = true

        withLabel: clamTask {
            conda = "/gpfs/mskmind_ess/limr/repos/CLAM/.venv/clam"
        }

        withLabel: lunaTask {
            conda = "/gpfs/mskmind_ess/limr/repos/luna/.venv/luna"
        }
        params.clam_path = "/gpfs/mskmind_ess/limr/repos/CLAM/"
    }

    docker {
        docker.enabled = true
        params.clam_path = "/code/CLAM/"

        process {
            withLabel: clamTask {
                container = "mskmind/clam:single-slide"
            }

            withLabel: lunaTask {
                container = "mskmind/luna:current"
                containerOptions = "--user root"
            }
        }
    }

    cluster {
        process {
            executor = 'condor'
            memory = 12.GB

            withLabel: bigTask {
                memory = 30.GB
            }

            withLabel: gpuTask {
                clusterOptions = "request_gpus=1"
            }

            withLabel: parallelTask {
                cpus = 16
            }
        }
    }

    cloud {
        process {
            executor = 'azurebatch'

            withLabel: parallelTask {
                cpus = 6
            }
            withLabel: bigTask {
                executor = 'azurebatch'
            }
        }
    }
}


process {
    withLabel: localTask {
        executor = "local"
    }

}
